.circle_container img {
    border-radius: 50%;
    width: 300px;
    border: 15px solid #444444;
}

.circle_container {
    background-color: #737373;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

#main_img {
    width: 100%;
}