*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --card-container-width: 940px;
  --close-button-dimension: 30px;

  --color-primary: #666666;
  --color-secondary: #e39968;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.card-container {
  width: var(--card-container-width);
  display: flex;
  flex-wrap: wrap;

  border: var(--color-primary) 1px solid;
}

.card-branding-img {
  flex: 1;
  max-width: 400px;
}

.card-content {
  flex: 2;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.close-button {
  align-self: end;
  width: var(--close-button-dimension);
  height: auto;
  cursor: pointer;
}

.card-title,
.card-description {
  color: var(--color-primary);
  text-align: center;
}

.card-title {
  font-size: rem;
}

.card-description {
  font-size: 1.5rem;
}

.newsletter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter-form > input {
  min-width: 100%;
  height: 50px;
  padding: 5px 10px;
  border-radius: 8px;
  border: var(--color-primary) 1px solid;
}

.subscribe-btn {
  height: 50px;
  border-radius: 8px;
  align-self: center;
  width: 200px;
  background-color: var(--color-secondary);
  color: white;
  border: var(--color-secondary) 1px solid;
  cursor: pointer;
}
